<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/Style.css">
</head>
<body bg-dark>

    <section class="banner text-white">
        <h1 id="datosArtista" class="fw-bold">KANY GARCIA</h1>
        <p id="historiaArtista">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat necessitatibus nam culpa non veritatis amet eligendi sapiente ullam consequatur maxime illo laborum, saepe laboriosam vel voluptatem quidem fugiat praesentium expedita?</p>
    </section>
    
    <script src="../helpers/BDHistoria.js"></script>
</body>
</html>